/* Using colors from https://colorhunt.co/palette/1b3c53234c6a456882e3e3e3 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "TASA Orbiter", Arial, sans-serif;
    background-color: #1B3C53;
    color: #E3E3E3;
    width: 100%;
    min-height: 100vh;
}

.debug {
    /* border: 1px solid red; */
}

.container {
    width: 100%;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
}

.header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #234C6A;
    box-shadow: 0px 1px 3px #e3e3e36d;
}

.header > .top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 10px;
}

.header > .top > .search {
    grid-column: 1 / 2;
    display: grid;
    padding-left: 10px;
}

.header > .top > .search > #search-form {
    width: auto;
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}

.header > .top > .search > #search-form > button {
    grid-column: 1 / 2;
    background: none;
    border: none;
    cursor: pointer;
}

#search-form > button:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(49%) saturate(962%) hue-rotate(169deg) brightness(96%) contrast(95%);
}

.header > .top > .search > #search-form > #search-input {
    grid-column: 2 / 3;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    width: 80%;
    min-width: 0;
    color: #E3E3E3;
    background-color: #e3e3e36d;
}

#search-input::placeholder {
    color: #E3E3E3;
}

#search-input:focus {
    outline: none;
    background-color: #234C6A;
    border: 2px solid #237fc5;
}

.header > .top > .menu {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 20% 20% 40%;
    align-items: center;
    justify-content: end;
}

.header > .top > .menu > .notifications {
    justify-self: center;
    cursor: pointer;
}

.header > .top > .menu > .profile-icon {
    justify-self: center;
    cursor: pointer;
}

.header > .top > .menu > .profile-name {
    justify-self: center;
}

.profile-name > h2 {
    font-size: 14px;
}

.header > .bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

.header > .bottom > .welcome {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 10px;
}

.header > .bottom > .welcome > img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

.header > .bottom > .welcome > p.hello {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
    justify-self: start;
    font-size: 14px;
    padding-left: 10px;
}

.header > .bottom > .welcome > p.profile {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 18px;
    padding-left: 10px;
}

.header > .bottom > .social {
    grid-column: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.header > .bottom > .social > button {
    border-radius: 5px;
    border: none;
    padding: 8px;
    background-color: #456882;
    color: #E3E3E3;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header > .bottom > .social > button:hover {
    background-color: #237fc5;
    color: #E3E3E3;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding-top: 10px;
    gap: 20px;
    background-color: #456882;
    padding-left: 10px;
}

.sidebar > .logo {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: left;
}

.sidebar > .home {
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    justify-items: left;
}

.sidebar > .home > ul {
    list-style: none;
    display: grid;
    gap: 10px;
}

.sidebar > .home > ul  > li {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar > .settings {
    grid-row: 3 / 4;
    display: grid;
    align-items: start;
    justify-items: left;
}

.sidebar > .settings > ul {
    list-style: none;
    display: grid;
    gap: 10px;
}

.sidebar > .settings > ul > li {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar li {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar li img {
    transition: filter 0.3s ease;
}

.sidebar li:hover {
    color: #237fc5;}

.sidebar li:hover img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(49%) saturate(962%) hue-rotate(169deg) brightness(96%) contrast(95%);
}

.articles {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr / 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.projects-container{
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
}

.projects {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 10px;
}

.projects > .card {
    padding: 10px;
    box-shadow: 2px 2px 5px #e3e3e36d;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.projects > .card > p.title {
    padding-bottom: 5px;
}

.projects > .card > p.description {
    font-size: 12px;
}

.projects > .card > p.read-more {
    justify-self: end; 
    align-self: end;
    cursor: pointer;
}

.projects > .card > p.read-more:hover {
   color: #237fc5;  
}

.projects > .card, .announcements > .card, .trending > .card {
    transition: transform 0.3s ease;
}

.projects > .card:hover, .announcements > .card:hover, .trending > .card:hover {
    transform: scale(1.01);
}

.announcements-container{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.announcements > .card {
    padding: 10px;
    border: 2px solid #e3e3e36d;
    border-radius: 5px;
}

.announcements > .card > p.description {
    font-size: 12px;
}

.trending-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
}

.trending {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.trending > .card {
    padding: 1px;
    display: grid;
    grid-template: auto 1fr / 1fr 9fr;
    border: 2px solid #e3e3e36d;
    border-radius: 5px;
}

.trending > .card > img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

.trending > .card > p.handle {
    font-weight: bold;
    font-size: 14px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.trending > .card > p.content {
    font-size: 12px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.card {
    background-color: #234C6A;
}

/* Images */

.profile-image-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    filter: invert(1);
}

.small-icon-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    filter: invert(1);
}

.small-icon-image-search {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.small-icon-notification {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.small-icon-notification:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(49%) saturate(962%) hue-rotate(169deg) brightness(96%) contrast(95%);
}