* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0e3768;
    color: #f1f2f6;
    width: 100%;
    min-height: 100vh;
}

.debug {
    border: 1px solid red;
}

.container {
    /* max-width: 1200px;
    margin: 0 auto;
    padding: 20px; */
    /* height: 100vh; */
    width: 100%;
    display: grid;
    grid-template: 1fr 9fr / 0.5fr 5fr 1fr;
}

.header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template: 1fr / 1fr;
}

.header > .top {
    grid-row: 1 / 2;
    display: grid;
    /* grid-template-columns: repeat(1fr, 2); */
    grid-template-columns: 3fr 1fr;
}

.header > .top > .search {
    grid-column: 1 / 2;
    display: grid;
    padding-left: 10px;
}

.header > .top > .search > #search-form {
    width: auto;
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}

.header > .top > .search > #search-form > button {
    grid-column: 1 / 2;
    background: none;
    border: none;
    cursor: pointer;
}

.header > .top > .search > #search-form > #search-input {
    grid-column: 2 / 3;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    width: 80%;    /* fill its grid cell */
    min-width: 0;   /* allow it to shrink inside grid */
}


.header > .top > .menu {
    grid-column: 2 / 3;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 20% 20% 40%;
    align-items: center;
    /* justify-items: end; */
    justify-content: end;
    /* align-content: end; */
}

.header > .top > .menu > .notifications {
    justify-self: center;
    /* margin-right: 20px; */
}

.header > .top > .menu > .profile-icon {
    justify-self: center;
    /* margin-right: 20px; */
}

.header > .top > .menu > .profile-name {
    justify-self: center;
}

.profile-name > h2 {
    font-size: 14px;
}

.header > .bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header > .bottom > .welcome {
    grid-column: 1 / 2;
    padding-left: 10px;
    /* display: grid;
    align-items: center; */
}

.header > .bottom > .social {
    grid-column: 2 / 3;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr 7fr;
    gap: 10px;
}

.sidebar > .logo {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.sidebar > .home {
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    justify-items: left;
}

.sidebar > .home > ul {
    list-style: none;
}

.sidebar > .settings {
    grid-row: 3 / 4;
    display: grid;
    align-items: start;
    justify-items: left;
}

.sidebar > .settings > ul {
    list-style: none;
}

.articles {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr / 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.projects-container{
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 9fr;
    /* gap: 10px; */
    /* padding: 10px; */
}

.projects {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 3fr);
    gap: 10px;
    /* padding: 10px; */
}

.projects > .card {
    padding: 10px;
}

.projects > .card > p.description {
    font-size: 12px;
}

.announcements-container{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 9fr;
    /* gap: 10px; */
}

.announcements {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.announcements > .card {
    padding: 10px;
}

.announcements > .card > p.description {
    font-size: 12px;
}

.trending-container {
    grid-area: 2 / 2 / 3 / 3;
}

.trending {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.trending > .card {
    padding: 1px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 9fr;
}

.trending > .card > img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

.trending > .card > p.handle {
    font-weight: bold;
    font-size: 14px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.trending > .card > p.content {
    font-size: 12px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

h2.section-title {
    /* font-size: 8px; */
    /* margin-bottom: 10px;
    border-bottom: 2px solid #f1f2f6;
    padding-bottom: 5px; */
}

/* Images */

.profile-image-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    filter: invert(1);
    /* object-fit: contain;
    margin-right: 10px;
    vertical-align: middle; */
}

.small-icon-image {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    filter: invert(1);
}

.small-icon-image-search {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.small-icon-notification {
    width: 25px;
    height: 25px;
    filter: invert(1);
}