* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0e3768;
    color: #f1f2f6;
    width: 100%;
    min-height: 100vh;
}

.debug {
    border: 1px solid red;
}

.container {
    /* max-width: 1200px;
    margin: 0 auto;
    padding: 20px; */
    /* height: 100vh; */
    width: 100%;
    display: grid;
    grid-template: 1fr 9fr / 0.5fr 5fr 1fr;
}

.header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template: 1fr / 1fr;
}

.header > .top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header > .top > .search {
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.header > .top > .menu {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header > .bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header > .bottom > .welcome {
    grid-column: 1 / 2;
}

.header > .bottom > .social {
    grid-column: 2 / 3;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.sidebar > .logo {
    grid-row: 1 / 2;
}

.sidebar > .home {
    grid-row: 2 / 3;
}

.sidebar > .settings {
    grid-row: 3 / 4;
}

.articles {
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr / 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.projects-container{
    grid-area: 1 / 1 / 3 / 2;
    /* display: grid;
    grid-template-rows: 1fr 9fr; */
    /* gap: 10px; */
    padding: 10px;
}

.projects {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 3fr);
    gap: 10px;
    /* padding: 10px; */
}

.projects > .card {
    padding: 10px;
}

.projects > .card > p.description {
    font-size: 12px;
}

.announcements-container{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 9fr;
    /* gap: 10px; */
}

.announcements {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.announcements > .card {
    padding: 10px;
}

.announcements > .card > p.description {
    font-size: 12px;
}

.trending-container {
    grid-area: 2 / 2 / 3 / 3;
}

.trending {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.trending > .card {
    padding: 1px;
}

.trending > .card > p.content {
    font-size: 12px;
}

h2.section-title {
    /* font-size: 8px; */
    /* margin-bottom: 10px;
    border-bottom: 2px solid #f1f2f6;
    padding-bottom: 5px; */
}